body {
  padding-top: 70px;
  padding-bottom: 30px;
  background: #f1f1f1;
}

a img:hover{
	opacity: 0.7;
}

.col-sm-user {
    margin-left:auto;
    margin-right:auto;
    padding-top: 45px;
    width: 70%;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase{
	margin-top: 55px;
}
.logo{
	margin-top: -7px;
}


.top-menu{
    margin-top: 40px;
    background: #316B68;
    color: #fff !important;
    border-bottom: none;
    height: 60px;
    line-height: 60px;

    z-index: 10;

}


.box-body{
	background: #fff;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	margin-bottom: 30px;
}

.box-body .title{

	color: #000;
	text-transform: uppercase;
	border-bottom: 3px solid #6eba6e;
	font-size: 18px;
	margin-bottom: 20px;
	padding-bottom: 5px;
}

.title{

    color: #000;
    text-transform: uppercase;
    border-bottom: 3px solid #6eba6e;
    font-size: 17px;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.box-body select, .box-body input,  .box-body textarea{
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
}



.box-body input[type=checkbox]{
	display: inline-block !important;
	width: 20px;
	margin-top: 0;
	margin-bottom: 0;
	height: 21px;
}


.box-body input[type=radio]{
    display: inline-block !important;
    width: 10px;
    margin-top: 0;
    margin-bottom: 0;
    height: 21px;
}

.box-body label{
	margin-bottom: 0;
	padding-bottom: 0;
}

.box-body label span{
	text-transform: uppercase !important;
	color: #6eba6e !important;
}

.box-body textarea{
	height: 60px;
}

.dropdown-menu li a{
	color: #000 !important;
}

.floatright div{
	float: right;
}

.navbar-brand, .navbar-nav, .navbar-nav li, .navbar-nav li a {
    height: 60px !important;
    line-height: 30px;
    text-transform: uppercase;
}

.navbar-nav .active a, .navbar-nav .active{
	background: none !important;
	box-shadow: none !important;
	color: #ecffb3 !important;
}

.dropdown-menu li,  .dropdown-menu li a{
	height: 40px !important;
	line-height: 33px !important;
}

.top-menu a{
	color: #fff !important;
}

.accordion h3{
	color: #fff;
	background: #6eba6e;
	font-size: 16px;
	text-transform: uppercase;
	padding: 5px;
	cursor: pointer;
}

.top-header{
	background: #316B68;
	line-height: 40px;
	color: #6eba6e;
	-webkit-box-shadow: 0px 6px 5px -4px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 6px 5px -4px rgba(0,0,0,0.5);
	box-shadow: 0px 6px 5px -4px rgba(0,0,0,0.5);
	height: 40px !important;
	border-bottom: none;

	z-index: 11;
}

.top-header img{
	margin-top: -5px;
}

.top-header input[type=text]{
	height: 25px;
	border: 1px solid #6eba6e;
	line-height: 25px;
}

.alignright{
	text-align: right;
}

.gray{
	color: #888;
}

.subdivisionSelector{
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    margin-left: 20px;
}

.userAuthority {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.userAuthority:focus {
    border-color: #66AFE9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
.userAuthority::-moz-placeholder {
    color: #999999;
    opacity: 1;
}
.userAuthority[disabled], .userAuthority[readonly], fieldset[disabled] .userAuthority {
    background-color: #EEEEEE;
    cursor: not-allowed;
    opacity: 1;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
  background: #f1f1f1;
}

a img:hover{
	opacity: 0.7;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase{
	margin-top: 55px;
}
.logo{
	margin-top: -7px;
}

.
.box-body{
	background: #fff;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	margin-bottom: 30px;
}

.box-body .title{

	color: #000;
	text-transform: uppercase;
	border-bottom: 3px solid #6eba6e;
	font-size: 18px;
	margin-bottom: 20px;
	padding-bottom: 5px;
}

.box-body select, .box-body input,  .box-body textarea{
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
}

.box-body input[type=checkbox]{
	display: inline-block !important;
	width: 20px;
	margin-top: 0;
	margin-bottom: 0;
	height: 21px;
}

.box-body label{
	margin-bottom: 0;
	padding-bottom: 0;
}

.box-body label span{
	text-transform: uppercase !important;
	color: #6eba6e !important;
}

.box-body textarea{
	height: 60px;
}

.dropdown-menu li a{
	color: #000 !important;
}

.floatright div{
	float: right;
}

.navbar-brand, .navbar-nav, .navbar-nav li, .navbar-nav li a {
    height: 60px !important;
    line-height: 30px;
    text-transform: uppercase;
}

.navbar-nav .active a, .navbar-nav .active{
	background: none !important;
	box-shadow: none !important;
	color: #ecffb3 !important;
}

.dropdown-menu li,  .dropdown-menu li a{
	height: 40px !important;
	line-height: 33px !important;
}

.top-menu a{
	color: #fff !important;
}

.accordion h3{
	color: #fff;
	background: #6eba6e;
	font-size: 16px;
	text-transform: uppercase;
	padding: 5px;
	cursor: pointer;
}

.top-header{
	background: #efefef;
	line-height: 40px;
	color: #316B68;
	-webkit-box-shadow: 0px 6px 5px -4px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 6px 5px -4px rgba(0,0,0,0.5);
	box-shadow: 0px 6px 5px -4px rgba(0,0,0,0.5);
	height: 40px !important;
	border-bottom: none;

	z-index: 11;
}

.top-header img{
	margin-top: -5px;
}

.top-header input[type=text]{
	height: 25px;
	border: 1px solid #6eba6e;
	line-height: 25px;
}

.alignright{
	text-align: right;
}

.gray{
	color: #888;
}

.navbar-brand, .navbar-nav, .navbar-nav li, .navbar-nav li a{
	padding-left: 4px;
	padding-right: 4px;
}
@media (max-width: 1200px) {
	.navbar-brand, .navbar-nav, .navbar-nav li, .navbar-nav li a{
		padding-left: 2px;
		padding-right: 2px;
		font-size: 10px !important; 
	}
}


@media (max-width:990px) {
	.navbar-brand, .navbar-nav, .navbar-nav li, .navbar-nav li a{
		padding-left: 1px;
		padding-right: 1px;
		font-size: 9px !important; 
	}
}



@media (max-width: 768px) {
	.navbar-brand, .navbar-nav, .navbar-nav li, .navbar-nav li a{
		padding-left: 2px;
		padding-right: 2px;
		
	}
	
	.navbar-nav{
		background: #000;
		height: 1000px !important;
	}
	
		
	.navbar-nav .open .dropdown-menu{
		position: absolute;
		background-color: #fff;
	}
}

@media (max-width: 500px) {
	.top-header{
		height: 90px !important;
	}
	
	.top-menu, .theme-showcase{
		margin-top: 90px !important;
	}
	
}


@media (max-width: 1200px) {
 .col-sm-4,  .col-sm-8 {
	float: none;
	width: 100%;
	}
}


.box-bodyX{ 
    /*background: #fff;
    width: 450px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    margin-bottom: 30px;*/
}


.box-bodyX .title{

    color: #000;
    text-transform: uppercase;
    border-bottom: 3px solid #6eba6e;
    font-size: 18px;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.box-bodyX select, .box-bodyX input,  .box-bodyX textarea{
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}


.box-bodyX label{
    text-transform: uppercase !important;
    color: #6eba6e !important;
    margin-bottom: 0;
    padding-bottom: 0;
}

.box-bodyX textarea{
    height: 60px;
}

label.error {
    color: #FF0000 !important;
    display: inline;
    margin-left: 10px;
    text-transform: lowercase !important;
    width: auto;
}



.modal {
    width:470px;
    position:absolute;
    top:140px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    padding:0;
    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.35);
    background:#fff;
    z-index:2005;
}




.modalbill {
	width:770px;
	top:100px;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	padding:0;
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 15px rgba(0,0,0,0.35);
	background:#fff;
	z-index:2005;
    overflow: hidden;
    position: fixed;
}

.dim {
    z-index:2000;
    background:#fff;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.9;
}

tr{
    color: #000;
}

tr.selected {
    color: red;
}


tr .gradeA {
    background-color: yellow !important;
}


.unverifybut{
    border-style: solid;
    border-color: #ff0000 #0000ff;
}

