@(changeForm: Form[controllers.Account.PasswordChange], localUser: models.User = null)

@import helper._
@import helper.twitterBootstrap._

@frame_rd(Messages("playauthenticate.change.password.title"),localUser,"",Seq(),Seq()) {

	<h1>@Messages("playauthenticate.change.password.title")</h1>
	<p>
	@form(routes.Account.doChangePassword) {
	   
       @if(changeForm.hasGlobalErrors) { 
        <p class="error">
          <span class="label label-important">@changeForm.globalError.message</span>
     	</p>
       }

	   @_passwordPartial(changeForm)
           
		<input type="submit" value="@Messages("playauthenticate.change.password.cta")" class="btn btn-primary"> 
	}
	</p>
}