@(changeForm: Form[controllers.Account.PasswordChange], localUser: models.User = null)

@import helper._
@import helper.twitterBootstrap._

    @stylesheets = @{Seq(
        "bootstrap.min.css",
        "bootstrap-theme.min.css",
        "theme.css",
        "font-awesome.min.css",
        "jquery-ui.css"
    )}
    @scripts = @{Seq(
        "noty/packaged/jquery.noty.packaged.min.js",
        "jquery.validate.js",
        "jquery.js",
        "notif.js"
    )}
@frame_rd(Messages("playauthenticate.change.password.title"),localUser,"",stylesheets,scripts) {

    <div class="container theme-showcase" role="main">
        <div class="box-bodyX">
            <div class="title">@Messages("playauthenticate.change.password.title")</div>
	<p>
	@form(routes.Account.doChangePassword_rd, 'id -> "signupForm") {
	   
       @if(changeForm.hasGlobalErrors) { 
        <p class="error">
          <span class="label label-important">@changeForm.globalError.message</span>
     	</p>
       }

	   @_passwordPartial_rd(changeForm)

		<input type="submit" value="@Messages("playauthenticate.change.password.cta")" id = "changepass" class="btn btn-success">
	}
	</p>
        </div>
    </div>
}