@(user: User, customers: List[Customer], templates: List[Plan], formPlan: Form[models.Plan])
@import views.html.helper.FieldConstructor

@stylesheets = @{Seq(
    "bootstrap.min.css",
    "bootstrap-theme.min.css",
    "theme.css",
    "font-awesome.min.css",
    "jquery-ui.css"
    )}


@scripts = @{Seq(
/*    "noty/packaged/jquery.noty.packaged.min.js",
        "jquery-1.7.1.js",
        "jquery-1.9.0.min.js",
        "jquery-play-1.7.1.js",
    "jquery.js",
    "jquery-ui.js",*/
       /* "jquery.confirm.js",*/
    "noty/packaged/jquery.noty.packaged.min.js",
    "jquery.validate.js",
    "jquery.js",
    /*"datatables.responsive.js",*/
    "jquery.dataTables.js",
    "jquery-ui.js",
        "addPlan.js"
    )}


@implicitFields = @{FieldConstructor(_my_field_constructor.f)}

@frame_rd("Firm Foundations, Inc",user,"home",stylesheets,scripts) {
    <div class="container theme-showcase" role="main">
    <div class="box-bodyX">
        <table cellspacing="0">
            <tr>
                <td>
                    <fieldset class="newCustomerview">
                        <div class="title">Add new Plan</div>
                        <label class="mylabel">select customer</label>
                        <select id="newCustomerMarket" class="userAuthority">
                            <option value=""></option>
                            @customers.toSeq.sortBy(_.id).map { m =>
                                <option value="@m.id">@m.name</option>
                            }
                        </select>
                        <div id="selecttemplate">
                            <label class="mylabel">select template</label>
                            <select id="newtemplate" class="userAuthority">
                              @*  <option value=""></option>
                                @templates.toSeq.sortBy(_.name).map { t =>
                                    <option value="@t.id">@t.name</option>
                                }*@
                            </select>
                        </div>
                        <div class="newcust">
                            <label>Plan name</label>
                            <input type="text" id ="newplanname"  class="form-control">
                            <input value="Add Plan" type = "submit" id="buttonaddplan" class="btn btn-success">
                        </div>

                    </fieldset>
                </td>
            </tr>
        </table>
    </div>
    </div>
}